@font-face
{
    font-family:"Poppins-Regular";
    src: url("police/Poppins-Regular.ttf");
    font-family: "Raleway-Regular";
    src: url("police/Raleway-Regular")
}

body {line-height:1.5;
    font-family: "Poppins-Regular", Times, serif, arial, sans-serif;margin: 0px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    box-sizing: border-box;
    
    }
/* header*/
div.promo {background-color: black;
         
            }
p#promo {color: rgb(255, 255, 255);
        text-align:center;
        text-transform: uppercase;
        margin-top: 0;
        font-size: 14px;
          font-weight: 400;
          height: 12px;
          line-height: 24px;
          letter-spacing: 1.1px;
         }
a#promo{color:white;}
.logo{align-self: center;
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.nav{
    align-items: center;
    margin-top: 1%;
   
    
    }
.lnav{
    text-decoration: none;
    color:black;
    font-family: "Raleway-Regular";
    margin: 3%;

    
   
   
        }

.lvnav1{text-align:center;
    

    }

a.lnav:hover {
        color: #ffa726;
    }

#connect{
    float:right;
    margin-left:01%;
    margin-right: 01%;
    width:1.5% ;
    height:02% ;
        }

img#panier{
    float:right;
    width:1.5% ;
    height:01% ;
    }/*fin header*/
/*pub*/
.pub{
    background-image: url("background/fall_collection.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100%;
    height: 100%;
    margin-top: 1%;
    padding: 10%
    
    }
.t-pub{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#text-pub{
    font-size: 220%;
    margin-bottom: 0.5%;
}
p#new{
    margin-top: 0;
}
/* fin pub*/

    /*artile*/
    .ligne{
        text-align: center;
        margin-bottom: 0.5%;
    }
    .col-1{
        text-align: center;
    }
    .popular{
        padding:80px 40px;
        position: relative;
        max-width: 1900px;
        margin: auto;
        background-color: rgba(237, 237, 237, 0.81);
        overflow: hidden;
    }
    
    
    .article{
        display: block;
        margin-left: auto;
        margin-top: auto;   
        top: auto;
        left:auto;
    }
    .lien-ban{
        text-decoration: none;
        color:black;
    }
    table.inline{
        border:0.5px solid  rgb(247, 233, 233)247, 233, 233);
        display:inline;
    }
    table:hover{
        padding: 03% 0 05% 0;
        box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.2);
    }
    #band-buy{
        margin-top: 100%;
        text-align: center;
        font-family:"Raleway-Regular";
    }
    #t-buy-now:hover{
        background-color:rgba(0,0,0,0.85);
        color: white;
    }
    #t-buy-now{
        padding: 2%;
       margin:0 30% 0 30%; 
        border: 0.5px solid black;
        border-radius: 2em;
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 75% 
    }
    
    #poliband{
        font-size: 1.em;
        text-align: center;
        color: black;
    }
    /*fin article*/